@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 style="object-fit: cover; background-position: top center; width: 100%; height: 100%;" alt="Clothes shop"
                 title="Clothes shop" />
        </div>
    </div>
</div>
<div class="container">
    <h1 class="blog-title">Hỏi đáp</h1>



    <div class="blog-post--entry">
        <h4>I. GIAO HÀNG VÀ VẬN CHUYỂN</h4>

        <p><strong>1. Phí vận chuyển tính thế nào?</strong></p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Freeship đơn hàng nguyên giá thanh toán từ 500k hoặc đơn hàng đã thanh toán chuyển khoản hoặc qua ví điện tử online(được sử dụng voucher)</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đơn hàng sale:</p>

        <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; freeship với đơn hàng từ 1000k &nbsp;trở lên</p>

        <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; đơn hàng dưới 500k: phí ship 30k</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đơn nội thành hỏa tốc: phí ship 40k</p>

        <p>-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Đơn nội thành hỏa tốc có giá trị từ 1000k trở lên được hỗ trợ phí ship 30k</p>

        <p><strong>2. Thời gian giao hàng là bao lâu?</strong></p>

        <p>Tuyến nội thành Bình Dương: giao hàng trong vòng 24h từ khi bạn nhận được sms/email xác nhận đơn hàng</p>

        <p>Tuyến ngoại thành Bình Dương: giao hàng trong vòng 48h từ khi bạn nhận được sms/email xác nhận đơn hàng</p>

        <p>Tuyến Đà Nẵng, TP.HCM: giao hàng trong vòng 3 ngày từ khi bạn nhận được sms/email xác nhận đơn hàng</p>

        <p>
            Tất cả thành phố khác: giao hàng trong vòng từ 3- 7 từ khi bạn nhận được sms/email xác nhận đơn hàng<br>
            Lưu ý:&nbsp;Thời gian trên có thể sẽ thay đổi theo từng chương trình sale lớn.
        </p>

        <p><strong>3. Khi nhận hàng có được mở ra xem hàng trước không?</strong></p>

        <p>
            Shop Amy không hỗ trợ đồng kiểm(xem hàng trước khi thanh toán). Bạn nhận hàng, thanh toán&nbsp; rồi kiểm tra hàng.<br>
            Trong trường hợp bạn gặp vấn đề phát sinh bạn liên hệ ngay tổng đài miễn phí của chúng tôi 1800.6226 nhánh 1 để được hỗ trợ kịp thời.
        </p>

        <p><strong>4. Có thể nhận thay đổi địa chỉ nhận hàng sau khi đặt hàng không?</strong></p>

        <p>Bạn vui lòng liên hệ ngay đến tổng đài CSKH 1800.6226 nhánh 1 để cập nhật kịp thời địa chỉ mới của bạn. Hoặc gửi email đến Amyshop@gmail.com để yêu cầu đổi địa chỉ nếu là ngoài giờ hành chính.</p>

        <p><strong>5. Đơn hàng được giao tối đa bao nhiêu lần?</strong></p>

        <p>Đơn hàng được giao tối đa 3 lần (Nếu lần 1 đơn hàng giao không thành công, nhân viên vận chuyển sẽ liên hệ lại bạn lần 2 sau 1-2 ngày làm việc kế tiếp . Như vậy sau 3 lần giao dịch không thành công đơn hàng sẽ hủy</p>

        <p><strong>6. Tôi muốn kiểm tra tình trạng đơn hàng?</strong></p>

        <p>Bạn vui lòng liên hệ ngay đến tổng đài CSKH 1800.6226 nhánh 1, cung cấp mã đơn hàng để kiểm tra tình trạng thông tin đơn hàng. Hoặc gửi email đến Amyshop@gmail.com nếu là ngoài giờ hành chính.</p>

        <hr>
        <h4>II. ĐỔI HÀNG</h4>

        <p><strong>1. Có thể đổi hàng sau khi đã nhận hàng không?</strong></p>

        <p>
            Sau khi bạn nhận hàng shop Amy có hỗ trợ đổi hàng<br>
            Sản phẩm nguyên giá bạn đổi khi còn hàng tại website<br>
            Sản phẩm giảm giá bạn đổi màu,size khi có hàng tại website<br>
            Chi tiết hướng dẫn mời bạn xem&nbsp;Quy định đổi hàng
        </p>

        <p><strong>2 Không áp dụng đổi hàng với sản phẩm nào?</strong></p>

        <p>Với tất cả sản phẩm Và không áp dụng đổi hàng với sản phẩm là đồ lót</p>

        <p><strong>3. Có thể đổi lại hàng sau khi đã nhận hàng không?</strong></p>

        <p>Amy nhận sản phẩm đổi lại trong trường hợp lỗi nhà sản xuất gồm:ố màu, phai màu, lỗi chất liệu, lỗi đường may, lỗi kiểu dáng… mà không có sản phẩm thay thế, không theo đúng mô tả và tiêu chuẩn sản phẩm .
Chi tiết hướng dẫn mời bạn xem&nbsp;Quy định trả hàng</p>

        <p><strong>4. shop Amy cho phép đổi hàng trong thời gian bao lâu từ khi nhận hàng?</strong></p>

        <p>Hiện nay chúng tôi đang hỗ trợ đổi hàng 3 ngày đối với đơn hàng mua hàng online và 2 ngày đối với đơn hàng mua tại shop.</p>

        <p><strong>5.Địa chỉ kho online tiếp nhận đổi hàng trực tiếp ở đâu?</strong></p>

        <p>Shop Amy tiếp nhận hàng đổi trong thời gian 9h đến 17h từ thứ 2 đến thứ 6 (không tính ngày chủ nhật và ngày lễ tết)</p>

        <p>Địa chỉ: đường Điểu Ông, Phú Cường, THủ Dầu Một, tỉnh Bình Dương.</p>

        <p>Điện thoại: 0975471622</p>

        <p><strong>6.Khách hàng ở tỉnh và ngoại thành Hà Nội đổi hàng có mất phí vận chuyển không?</strong></p>

        <p>Với trường hợp đổi hàng do lỗi sản phẩm thì khách hàng sẽ được miễn phí hoàn toàn chi phí đổi hàng</p>

        <p>Với trường hợp đổi hàng do cá nhân khách hàng muốn đổi sẽ chịu hoàn toàn phí vận chuyển đổi hàng</p>

        <p><strong>7.Shop Amy hoàn tiền trong bao lâu?</strong></p>

        <p>Trường hợp bạn đã thanh toán nhận hàng và đủ điều kiện hoàn tiền như trong quy định. Tính từ thời điểm bạn gửi đầy đủ thông tin hoàn tiền Aristino xử lý tối đa trong 15 ngày</p>

        <p>
            Trường hợp bạn chưa nhận hàng nhưng đã thanh toán qua thẻ:<br>
            Tài khoản ngân hàng tối đa 10 ngày<br>
            Visa, tín dụng... tối đa 30 ngày
        </p>

        <p><strong>8.Tôi có thể hủy đặt hàng khi chưa nhận được sản phẩm không?</strong></p>

        <p>Khách hàng có thể huỷ đặt hàng khi chưa nhận được sản phẩm ngay cả khi đơn hàng đã được giao cho đơn vị vận chuyển.</p>

        <hr>
        <h4>III. ĐẶT HÀNG VÀ THANH TOÁN</h4>

        <p><strong>1.Khi đặt hàng, tôi phải thanh toán như thế nào?</strong></p>

        <p>Khách hàng có thể chọn 1 trong 2 phương thức thanh toán có sẵn:</p>

        <p>
            1. Thanh toán khi nhận hàng bằng tiền mặt (COD).<br>
            2. Thanh toán khi đặt hàng bằng cách chuyển khoản ngân hàng hoặc qua cổng thanh toán VNpay
        </p>

        <p><strong>2.Nếu tôi mua sản phẩm với số lượng nhiều thì giá có được giảm không?</strong></p>

        <p>Khi mua hàng với số lượng nhiều khách hàng sẽ được hưởng chế độ ưu đãi, giảm giá ngay tại thời điểm mua hàng.</p>

        <p><strong>3.Làm thế nào để đặt hàng tại shop Amy?</strong></p>

        <p>Rất đơn giản, bạn hãy truy cập trang web: https://Amyshop.com để đặt hàng</p>

        <p><strong>4.Làm sao để biết sản phẩm còn hàng hay hết hàng?</strong></p>

        <p>Trên website https://Amyshop.com sẽ cung cấp thông tin sản phẩm đang còn hàng hoặc hết hàng cho khách hàng tham khảo.</p>

        <p><strong>5.Có thể đặt hàng trên website Amy và nhận hàng tại cửa hàng không?</strong></p>

        <p>Hiện tại chúng tôi chưa hỗ trợ phương thức mua hàng này.</p>

        <p><strong>6.Đặt nhiều đơn hàng trong một ngày thì có cách nào để gộp lại không?</strong></p>

        <p>Nếu bạn đặt nhiều đơn hàng trong cùng một ngày và cùng một thông tin người nhận, Aristino sẽ liên hệ lại với bạn để gộp đơn hàng và mức phí vận chuyển của bạn sẽ chỉ tính cho 1 đơn hàng.&nbsp;</p>

        <p><strong>7.Làm thế nào để biết đã đặt hàng thành công?</strong></p>

        <p>Sau khi bạn hoàn thành các bước đặt hàng theo chỉ dẫn trên website, chúng tôi gửi email thông báo cho bạn với nội dung xác nhận đặt hàng thành cồng</p>

        <p><strong>8.Mức giá trên website với mức giá tại cửa hàng Amy có đồng nhất không?</strong></p>

        <p>Mức giá của sản phẩm tại cửa hàng và website có thể khác nhau do áp dụng các chương trình ưu đãi và chính sách khác nhau.</p>

        <p><strong>9.Làm thế nào để chọn được cỡ quần áo, sản phẩm đúng với kích thước của mình?</strong></p>

        <p>Bạn hãy đối chiếu các số đo của mình với bảng&nbsp;hướng dẫn chọn size&nbsp;thông số kích cỡ của Aristino. Bạn có thể hoàn toàn yên tâm lựa chọn cỡ quần áo vừa vặn với cơ thể mình.</p>

        <p><strong>10.Làm thế nào để hủy đơn hàng khi mới đặt hàng?</strong></p>

        <p>Bạn liên hệ ngay đến tổng đài CSKH 1800 6226 nhánh 1 để cập nhật kịp thời HỦY đơn hàng mới đặt của bạn. Hoặc gửi email đến Amyshop@gmail.com để yêu cầu đổi địa chỉ nếu là buổi tối hoặc ngày nghỉ.</p>

    </div>
</div>

