@{
    ViewBag.Title = "ReturnPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 style="object-fit: cover; background-position: top center; width: 100%; height: 100%;" alt="Clothes shop"
                 title="Clothes shop" />
        </div>
    </div>
</div>
<div class="container mt-3">

    <div class="blog-post--entry">
        <style type="text/css">
            table, table td {
                border: 1px solid #000;
                padding: 5px 10px;
            }

                table p {
                    margin: 0;
                }
        </style>
        <p><strong><span style="font-size:24px;">ĐỔI HÀNG TRONG VÒNG 7 NGÀY</span></strong></p>

        <p style="text-align: justify;"><span style="font-size:18px;"><strong>ĐIỀU KIỆN ĐỔI HÀNG</strong></span></p>

        <p style="text-align: justify;"><span style="font-size:18px;">- Sản phẩm còn nguyên tem mác, chưa qua sử dụng.</span></p>

        <p style="text-align: justify;"><span style="font-size:18px;">- Sản phẩm được xác định có lỗi (không do tác động ngoại quan và nguyên nhân do sử dụng).</span></p>

        <p style="text-align: justify;"><span style="font-size:18px;">- Lỗi đường chỉ</span><span style="font-size:18px;">do vận chuyển, có căn cứ chứng minh (bằng video, hình ảnh khi nhận hàng)/ nhận hàng không đúng với mã hàng đã đặt.</span></p>

        <p style="text-align: justify;"><span style="font-size:18px;"><em><strong>Phí đổi sản phẩm</strong></em></span></p>

        <p style="text-align: justify;"><span style="font-size:18px;">- Trường hợp đổi hàng trong chính sách: Miễn phí.</span></p>

        <p><span style="font-size:18px;">- Trường hợp đổi hàng do phát sinh từ phía khách hàng ngoài chính sách và đổi hàng lần hai,&nbsp;vui lòng thanh toán phí vận chuyển 2 chiều (nếu có).</span></p>

        <p style="text-align: justify;">&nbsp;</p>

        <p style="text-align: justify;"><span style="font-size:18px;"><b>NỘI DUNG CHÍNH SÁCH</b></span></p>

        <table align="center" border="1" cellpadding="0" cellspacing="10" style="border:1px solid #000;" width:216px="">
            <tbody>
                <tr>
                    <td style="width:408px;height:29px;">
                        <p align="center"><strong>Chi tiết</strong></p>
                    </td>
                    <td style="width:408px;height:29px;">
                        <p align="center"><strong>Nhóm hàng</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:216px;">
                        <p>Sản phẩm Áo thun</p>
                    </td>
                    <td style="width:408px;">
                        <p>+ Với sản phẩm&nbsp;lỗi sản xuất (trong 7 ngày)</p>

                        <p>+ Với sản phẩm Chưa sử dụng/ nguyên tag, nguyên tình trạng ban đầu, không có tác động ảnh hưởng đến ngoại quan sản phẩm </p>

                        <p>+ Lỗi do quá trình vận chuyển, có căn cứ chứng minh (bằng video, hình ảnh khi nhận hàng)/ nhận hàng không đúng với mã hàng đã đặt </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:216px;height:28px;">
                        <p>Áo khoát</p>
                    </td>
                    <td rowspan="7" style="width:408px;height:28px;">
                        <p><strong>- Khi mua hàng tại Shop </strong>: Đổi hàng trong 3 ngày&nbsp;</p>

                        <p>&nbsp;</p>

                        <p><strong>- Khi mua hàng Online:</strong> Đổi hàng trong 7&nbsp;ngày</p>

                        <p>&nbsp;</p>
                    </td>
                </tr>
               
                <tr>
                    <td style="width:216px;height:29px;">
                        <p>Quần jean cao cấp</p>
                    </td>
                </tr>
                
                <tr>
                    <td style="width:216px;height:29px;">
                        <p>Áo Vest, jacket, lông vũ, dạ (dòng cao cấp)</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:216px;height:29px;">
                        <p>Áo Polo, T-shirt, Tanktop, Quần Shorts, Bộ đồ, Áo sơ mi, Áo Len, Quần âu, Quần Khaki</p>
                    </td>
                </tr>
                
            </tbody>
        </table>

        <p>&nbsp;</p>

        <p style="text-align: justify;"><strong><span style="font-size:18px;">MỘT SỐ LƯU Ý ĐỔI HÀNG:</span></strong></p>

        <p><span style="font-size:18px;">- Trường hợp khách hàng đổi sản phẩm chính nhưng sản phẩm khuyến mại đã sử dụng, không còn nguyên vẹn thì Amyshop có quyền từ chối đổi hàng hoặc trừ theo giá trị của hàng khuyến mại&nbsp; tương đương tỉ lệ % khuyến mại thông thường của Amyshop</span></p>

        <p><span style="font-size:18px;">- Trường hợp khách hàng đổi sang sản phẩm mới có khuyến mại tương đương mà sản phẩm khuyến mại đã được khách hàng sử dụng thì Aristino chỉ thực hiện đổi sản phẩm chính.</span></p>

        
        <coccocgrammar></coccocgrammar><coccocgrammar></coccocgrammar>
    </div>

</div>