@{
    ViewBag.Title = "ShippingPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="collection-header">
    <div class="collection-hero">
        <div class="collection-hero__image">
            <img class="blur-up lazyload"
                 data-src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 src=@Url.Content("~/assets/client/images/cat-men.jpg")
                 style="object-fit: cover; background-position: top center; width: 100%; height: 100%;" alt="Clothes shop"
                 title="Clothes shop" />
        </div>
    </div>
</div>
<div class="container">

    <div class="blog-post--entry">
        <p><strong>Phương thức giao hàng</strong></p>

        <p>Để thuận tiện cho quý khách trong quá trình mua sắm, Amyshop thực hiện chính sách giao hàng như sau:</p>

        <p>🛒&nbsp;<strong>Miễn phí vận chuyển cho đơn hàng online&nbsp;từ 1 triệu.</strong>&nbsp;</p>

        <p>🛒&nbsp;<strong>Miễn phí vận chuyển cho đơn hàng online&nbsp;thanh toán trước toàn bộ hóa đơn từ 500.000đ trở lên.</strong></p>

        <p>🛒 Đơn hàng dưới 1 triệu phí vận chuyển là 30.000đ/đơn</p>

        <p>🛒 Đơn hàng hỏa tốc áp dụng ship theo giá cước vận chuyển Grab&nbsp;<em>(Hỗ trợ 30.000đ/đơn cho đơn hàng từ 1 triệu).</em></p>

        <p>🛒 Toàn bộ đơn hàng online đều&nbsp;<strong>không áp dụng đồng kiểm</strong>&nbsp;(xem hàng trước khi nhận)</p>

        <p>🛒 Khách hàng thanh toán, nhận hàng đều được&nbsp;<strong>áp dụng chính sách đổi trả</strong>&nbsp;theo quy định đổi trả của Shop.</p>

        

        <ol start="2">
            <li><strong>Thời gian giao hàng</strong></li>
        </ol>

        <ul>
            <li>Khu vực Bình Dương: Từ 1 ngày</li>
            <li>Khu vực khác: Các khu vực thuộc tuyến huyện trở lên: 4 – 7 ngày</li>
        </ul>

        <p><em>Lưu ý:</em></p>

        <p><em>- Đối với các đơn hàng sau 17h30 Shop sẽ xác nhận đơn hàng cho quý khách vào ngày hôm sau.</em></p>

        <p>Shop trân trọng thông báo đến quý khách hàng những điều chỉnh mới nhất trong việc thu phí vận chuyển online. Hy vọng quý khách hàng có những trải nghiệm tốt nhất khi mua sắm tại Amyshop.&nbsp;</p>

    </div>
</div>

